* {
    margin: 0
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.header{
    background-color: rgb(52, 52, 52);
    padding: 50px 10px 70px 70px;
    background-image: url(OIP__2_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 40px;
    background-size: 8%;
}

.header a{
    font-family: Arial;
    font-size: 20px;
    margin-right: 50px ;
    float: right;
    text-decoration: none;
    color: whitesmoke;
}

.header a:hover{
    color: rgb(123, 123, 123);
}

/* KONTEN */
.kata{
    color: #333;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 170px;
    text-align: center;
    font-size: 20px;
}

.card {
    margin-top: 60px;
    margin-left: 75px;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .top {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .body {
    padding: 20px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: 120px;
    font-size: 16px;
  }
  
  .skill-level {
    width: 1160px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .skill-percent {
    background-color: #333;
    height: 100%;
  }
  
  .skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
  }

  /* judul statistik */
  .card_judul {
    margin-top: 200px;
    margin-left: 40%;
    width: 290px;
    height: 165px;
    color: #fff;
  }
  
  .content_judul {
    margin-top: 100px;
    border-radius: 9%;
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: #333;
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .card_judul:hover .content_judul {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    margin-top: 30px;
    text-align: center;
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #000000;
    }
  
  .description {
    letter-spacing: 3px;
    margin-top: 30px;
    transform: translateZ(3rem);
    
  }
  

  /* User Statistik */
  .user_card {
    margin-bottom: 200px;
    margin-left: 40%;
    width: 290px;
    height: 254px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
   }
   
   .user_card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
   }
   
   .item--1 {
    background-color: #333;
   }
   
   .item--2 {
    background-color: #333;
   }
   
   .item--3 {
    background-color: #333;
   }
   
   .item--4 {
    background-color: #333;
   }
   
   .quantity {
    font-size: 25px;
    font-weight: 600;
   }
   
   .text {
    text-align: center;
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text--1 {
    color: rgb(255, 255, 255);
   }
   
   .text--2 {
    color: rgb(255, 255, 255);
   }
   
   .text--3 {
    color: rgb(255, 255, 255);
   }
   
   .text--4 {
    color: rgb(255, 255, 255);
   }
  

/* FOOTER */
footer{
  margin-top: 40px;
  text-align: center;
  color: #fff;
  background-color: #000000;
}

#nama{
    font-family: sans-serif;
    font-style: italic;
    margin-top: 30px;

}

.sosmed a{
    padding: 15px;
    font-family: sans-serif;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

footer p{
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}